---
layout: default
title: Categories
permalink: /categories/
---

<div class="content-box clearfix">
  <h1>Categories</h1>
  {% assign cats = site.categories | sort %}
  <ul>
    {% for cat in cats %}
      {% assign cat_name = cat[0] %}
      <li>
        <h2 id="{{ cat_name | slugify }}">{{ cat_name }}</h2>
        <ul>
          {% for post in cat[1] %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
