<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <aside class="sidebar">
        ... 기존 사이드바 그대로 ...
      </aside>

      <div class="content-box clearfix">

        <!-- 여기: 상단 네비게이션 추가 -->
        <nav class="top-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
          </ul>
        </nav>
        <!-- 상단 네비 끝 -->

        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
